name: CI

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/_reusable-ci.yml
    with:
      check_type: 'full'
      environment: 'demo'
    secrets: inherit
